@model Mahc_Final.DBContext.BlogPost

@{
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<style>
    img {
        width: 300px;
        height: 300px;
    }
</style>
<h1>@Model.Title</h1>
<img src="@Url.Content("~/BlogImages/" + Model.Slug)" alt="@Model.Slug" />
<div>
    <p>
        //@Model.Content
        @Html.Raw(Model.Content);
    </p>
</div>

<div>
    <span>Posted at:</span> <span>@Model.PostDate</span>
    <span>Lastest update at:</span> <span>@Model.UpdatedAt by @Model.HosMember.username</span> 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
