@model Mahc_Final.DBContext.Staff1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            <div class="">
                @if (Model.image != null)
                {
                    <img src="~/photos/@Html.DisplayFor(model => model.image)" width="200" class="img-rounded" />
                }
                else
                {
                    <img src="~/gifts/unavailable.png" width="400" class="img-rounded" />
                }

            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.dept_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.dept_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
