@model Mahc_Final.DBContext.DoctorAvailability

@{
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DoctorAvailability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.avail_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avail_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Add Doctor", "Create", "doctors")<br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
