@model Mahc_Final.DBContext.ERWaitTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ERWaitTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentWaitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentWaitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaitingPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaitingPatients)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Lock }) |
    @Html.ActionLink("Back to List", "Index")
</p>
