@model Mahc_Final.DBContext.BlogPost

<link rel="stylesheet" href="@Url.Content("~/Content/Post.css")"/>

<main>
    <h1>@Model.Title</h1>
    <div>
        <img src="@Url.Content("~/BlogImages/" + Model.Slug)" alt="@Model.Slug"  /><br/>
        @Model.Content
    </div>
</main>
<p>
    @Html.ActionLink("Back to List", "PublicBlog", "Blog")
</p>