@model Mahc_Final.DBContext.contactu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Message Id: @Html.DisplayFor(model => model.Id) Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reply)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Reply", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
