@model IEnumerable<Mahc_Final.DBContext.contactu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Contact Us Submissions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitorEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reply)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reply)
            </td>
            <td>
                @Html.ActionLink("Reply", "Edit", new { id = item.Id }) | @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
