@model Mahc_Final.DBContext.Gift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            <div class="">
                @if (Model.image != null)
                {
                    <img src="~/gifts/@Html.DisplayFor(model => model.image)" width="200" class="img-rounded" />
                }
                else
                {
                    <img src="~/gifts/unavailable.png" width="400" class="img-rounded" />
                }

            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiftCat.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftCat.cat_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
