@model Mahc_Final.Models.UserInfo
@using Mahc_Final.DBContext
@{
    ViewBag.Title = "Pay";

}

<h2>Pay</h2>
@if (TempData["msg"] != null)
{
    <h1>@TempData["msg"]</h1>
}



@using (Html.BeginForm())
{
    @Html.Hidden("price", TempData["price"]);
    <label>Credit Card:</label><br />
    <span id="msgCardNum" class="text text-danger"></span><br />
    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @id = "cardNum", @type = "text", @class = "form-control" } })
    <br />

    <label>Expiration Year:</label><br />
    <span id="msgCardYear" class="text text-danger"></span><br />
    @Html.EditorFor(model => model.ExpYear, new { htmlAttributes = new { @id = "cardYear", @type = "text", @class = "form-control" } })

    <label>Expiration Month:</label><br />
    <span id="msgCardMonth" class="text text-danger"></span><br />
    @Html.EditorFor(model => model.ExpMonth, new { htmlAttributes = new { @id = "cardMonth", @type = "text", @class = "form-control" } })

    <label>Cvc:</label><br />
    <span id="msgCardCvc" class="text text-danger"></span><br />
    @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @id = "cardCvc", @type = "text", @class = "form-control" } })

    <input type="submit" class="btn btn-info" value="Pay" />
}
<script type="text/javascript">
    window.onload = function () {
        var cardNumRegex = /^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$/;
        var cardYearRegex = /^\d{4}$/;
        var cardMonthRegex = /^(0[1-9]|1[0-2])$/;
        var cardCvcRegex = /^[0-9]{3,4}$/;

        var cardNum = document.getElementById("cardNum");
        var cardYear = document.getElementById("cardYear");
        var cardMonth = document.getElementById("cardMonth");
        var cardCvc = document.getElementById("cardCvc");

        var msgCardNum = document.getElementById("msgCardNum");
        var msgCardYear = document.getElementById("msgCardYear");
        var msgCardMonth = document.getElementById("msgCardMonth");
        var msgCardCvc = document.getElementById("msgCardCvc");

        $('#msgCardNum').hide();
        $('#msgCardYear').hide();
        $('#msgCardMonth').hide();
        $('#msgCardCvc').hide();

        document.getElementsByTagName("form")[1].onsubmit = function () {
            var flag = true;
            var cardMsg = "";
            var yearMsg = "";
            var monthMsg = "";
            var cvcMsg = "";

            if (!cardNumRegex.test(cardNum.value)) {
                cardMsg = "Please enter correct card number";
                flag = false;
                $('#msgCardNum').show();
            }

            if (!cardYearRegex.test(cardYear.value)) {
                yearMsg = "Please enter correct year";
                flag = false;
                $('#msgCardYear').show();
            }

            if (!cardMonthRegex.test(cardMonth.value)) {
                monthMsg = "Please enter correct month";
                flag = false;
                $('#msgCardMonth').show();
            }

            if (!cardCvcRegex.test(cardCvc.value)) {
                cvcMsg = "Please enter correct cvc number";
                flag = false;
                $('#msgCardCvc').show();
            }

            if (flag === false) {
                msgCardNum.innerHTML = cardMsg;
                msgCardYear.innerHTML = yearMsg;
                msgCardMonth.innerHTML = monthMsg;
                msgCardCvc.innerHTML = cvcMsg;
            }


            return flag;
        }
    }
</script>
