@model Mahc_Final.ViewModels.Careers
@{
    ViewBag.Title = "Careers";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


@section leftnav {
    @Html.Partial("~/Views/Careers/Admin/_Navigation.cshtml")
}


<h2>Careers feature admin</h2>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <table class="table">
            <caption><h4>Latest 5 opportunities</h4></caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.opportunities.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opportunities.First().Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opportunities.First().Date_last_modified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.opportunities.First().Modified_by)
                </th>
                <th></th>
            </tr>
           
            @foreach (var item in Model.opportunities)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Title)*@
                        @Html.ActionLink(item.Title,"Details","Jobs",new { id = item.Id },null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date_last_modified)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HosMember1.username)
                    </td>                    
                </tr>
            }
        </table>
    </div>
    <div class="col-lg-6 col-md-6">
        <table class="table">
            <caption><h4>Latest 5 applications</h4></caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.applications.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.applications.First().Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.applications.First().Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.applications.First().Job.Title)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.applications)
            {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Name)*@
                        @Html.ActionLink(item.Name,"Details","Job_applications",new { id = item.Id },null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.Title)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<p>@Html.ActionLink("Back", "Index", "Admin")</p>