@model Mahc_Final.DBContext.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

@section leftnav {
    @Html.Partial("~/Views/Calendar/Admin/_Navigation.cshtml")
}
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_last_modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_last_modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HosMember.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HosMember.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HosMember1.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HosMember1.first_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
