@model Mahc_Final.ViewModels.TaskVolunteer

@{
    ViewBag.Title = "Details";
}


@section leftnav {
    @Html.Partial("~/Views/Volunteer/Public/_Navigation.cshtml")
}

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <h2>@Html.DisplayFor(model => model.task.Title)</h2>

    <div>
        <h3>Task details</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.task.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Regularity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Regularity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Desc)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.task.Desc)*@
                @Html.Raw(Model.task.Desc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Contact_person)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Contact_person)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.task.Contact_phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.task.Contact_phone)
            </dd>
        </dl>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>Become a volunteer</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.application.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.application.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.application.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            @*
                <div class="form-group">
                    @Html.LabelFor(model => model.application.Task_id, "Task_id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Task_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.application.Task_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                *@
            <div class="form-group">
                @Html.LabelFor(model => model.application.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.application.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.application.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.application.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.application.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.application.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.application.Pref_time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.application.Pref_time, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.application.Pref_time, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.application.Pref_work, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.application.Pref_work, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.application.Pref_work, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Become a volunteer!" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <p>
        @Html.ActionLink("Back to List", "PublicIndex")
    </p>

</div>