@model Mahc_Final.DBContext.doctor

@{
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building_Room_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building_Room_no)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.ActionLink("Add your Availability", "Create", "DoctorAvailabilities")<br />