@model Mahc_Final.DBContext.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}


@section leftnav {
    @Html.Partial("~/Views/Careers/Admin/_Navigation.cshtml")
}
<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regularity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regularity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_by)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

