@model Mahc_Final.DBContext.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sender_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sender_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient_phn_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient_phn_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gift.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gift.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
