@model IEnumerable<Mahc_Final.DBContext.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sender_first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sender_last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sender_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sender_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_last_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patient_phn_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gift.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sender_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sender_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sender_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sender_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_last_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patient_phn_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gift.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
