@model IEnumerable<Mahc_Final.DBContext.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h2>Volunteer tasks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regularity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_by)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_by)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back", "Index", "Volunteer")
