@model Mahc_Final.DBContext.book_an_appointment

@{
    ViewBag.Title = "Create";
}

<h2>Book An Appointment</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.dr_id, "Please Select Doctor ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("dr_id", null, htmlAttributes: new { @class = "form-control", @id = "select-doctor" })
                @Html.ValidationMessageFor(model => model.dr_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dr_id, "Choose Date ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="Date" id="avail_date"></select>
                @Html.ValidationMessageFor(model => model.dr_id, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.dr_id, "Choose Time ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="avail_id" id="avail_time"></select>
                @Html.ValidationMessageFor(model => model.dr_id, "", new { @class = "text-danger" })


            </div>
        </div>


        <br />
        <h4>Please Fill Your Information Below:</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, "First Name ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, "Last Name ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_id, "Email ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_no, "Contact No. ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.contact_no, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "FindDoctorDetails")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        var doctorid = $('#select-doctor').val();
        getAvails();

        $('#select-doctor').change(function () {
            doctorid = $(this).val();
            getAvails();
        });



        $('#avail_date').change(function () {
            doctorid = $('#select-doctor').val();
            var date = $(this).val();
            getAvails2(doctorid, date);
        });

        function getAvails() {
            $.getJSON('/book_an_appointment/Availabilities/' + doctorid, function (results) {
                var html = '<option>Please select</option>';
                results.map(function (result) {
                    var date = new Date(parseInt(result.avail_date.substr(6)));
                    var Avail_date = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                    html += '<option value="' + Avail_date + '">' + Avail_date + ' ' + '</option>';

                });
                $('#avail_date').html(html);

            })
        }

        //second function
        function getAvails2(doctorid, date) {
            $.getJSON('/book_an_appointment/Availabilities2/' + doctorid + '/?date=' + date, function (results) {
                var html = '<option>Please select</option>';
                results.map(function (result) {

                    html += '<option value="' + result.Id + '">' + result.time + ' ' + '</option>';

                });
                $('#avail_time').html(html);

            })
        }


    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
