@model Mahc_Final.DBContext.book_an_appointment

@{
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>book_an_appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorAvailability.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorAvailability.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
