@model Mahc_Final.DBContext.Alert

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section leftnav {
    @Html.Partial("~/Views/Calendar/Public/_Navigation.cshtml")
}
<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p><i>Active up to : @Html.DisplayFor(model => model.Due_time)</i></p>
    <p><i>Active from: @Html.DisplayFor(model => model.Date_last_modified)</i></p>
    <p>
        @*@Html.DisplayFor(model => model.Desc)*@
        @Html.Raw(Model.Desc)
    </p>

    
    <p>
        @Html.ActionLink("Back to List", "PublicIndex")
    </p>
</div>