@model IEnumerable<Mahc_Final.DBContext.Event>
<h2>Events</h2>
<span style="color:green;">@ViewBag.Message</span>
@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h3>
            @Html.ActionLink(item.Title, "PublicDetails", "Events", new { id = item.Id },null)
        </h3>
        <p>
            <i>
               Start date: @Html.DisplayFor(modelItem => item.Time_start)
            </i>
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Desc)
        </p>
        <div class="btn btn-default">@Html.ActionLink("read more...", "PublicDetails", "Events", new { id = item.Id }, null)</div>
    </div>
}
