@model PatientsMVC.Models.Patients

@{
    ViewBag.Title = "Patient details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           First name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
           Last name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
           Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HCnmb)
        </dd>

        <dt>
            Date of birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
